article, aside, figure, footer, header, hgroup, menu, nav, section { display: block; }
.screen-reader-text {
  position: absolute;
  left: -9000px;
}
html, body { height: 100%; }
html {
  overflow-y: scroll;
  overflow-x: hidden;
}
.open-sans { font-family: 'Open Sans', 'OpenSansRegular', sans-serif; }
.open-sans-condensed { font-family: 'Open Sans Condensed', 'OpenSansCondensedLight', sans-serif; }
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #666666;
  background: url(../images/bg.gif);
}
.container { padding: 0 20px; }
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -235px;
}
.full-width-white {
  padding: 50px 0;
  position: relative;
  background: #ffffff;
}
.full-width-white:before {
  content: "";
  position: absolute;
  background: #ffffff;
  top: 0;
  bottom: 0;
  width: 9999px;
}
.full-width-white:after {
  content: "";
  position: absolute;
  background: #ffffff;
  top: 0;
  bottom: 0;
  width: 9999px;
}
.full-width-white:before { right: 100%; }
.full-width-white:after { left: 100%; }
h1, h2, h3, h4, h5, h6 { color: #666666; }
h1 {
  font-size: 24px;
  font-family: 'Open Sans Condensed', 'OpenSansCondensedLight', sans-serif;
  text-transform: uppercase;
}
h2 {
  font-size: 24px;
  font-family: 'Open Sans', 'OpenSansRegular', sans-serif;
}
h3 { font-family: 'Open Sans', 'OpenSansRegular', sans-serif; }
h4 {
  font-family: 'Open Sans Condensed', 'OpenSansCondensedLight', sans-serif;
  color: #00bcd1;
  font-size: 14px;
  text-transform: uppercase;
}
a { color: #00bcd1; }
a:visited { color: #32c7c7; }
a:hover {
  color: #28a1a1;
  text-decoration: none;
}
header {
  width: 100%;
  min-height: 150px;
  max-height: 460px;
  background: url(../images/bg.gif);
}
header #header {
  width: 940px;
  height: 80px;
  margin: 0 auto;
}
header hgroup {
  width: 223px;
  height: 32px;
  float: left;
  position: relative;
  z-index: 9;
}
header #banner {
  width: 100%;
  overflow: hidden;
  height: 429px;
  position: relative;
  top: -62px;
}
header #banner .wt-rotator {
  position: relative;
  left: 50%;
  margin-left: -640px;
  z-index: 1;
}
body.home header {
  background: #1d1b1b;
  margin-bottom: 65px;
}
nav {
  display: block;
  float: right;
  margin: 0 auto;
  width: 570px;
  position: relative;
  z-index: 2;
}
nav .menu-header {
  font-size: 16px;
  margin-left: 12px;
  width: 568px;
  margin-top: 9px;
}
nav .menu-header ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
  float: right;
}
nav .menu-header li {
  float: left;
  position: relative;
}
nav div.menu {
  font-size: 16px;
  margin-left: 12px;
  width: 568px;
  margin-top: 9px;
}
nav div.menu ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
  float: right;
}
nav div.menu li {
  float: left;
  position: relative;
}
nav a {
  color: #1d1b1b;
  display: block;
  line-height: 22px;
  padding: 0 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed', 'OpenSansCondensedLight', sans-serif;
}
nav a:visited { color: #1d1b1b; }
nav a:after { content: "."; }
nav ul ul {
  display: none;
  position: absolute;
  left: 0;
  padding-top: 10px;
  float: left;
  width: 130px;
  z-index: 99999;
  background: url(../images/dd-arrow.png) no-repeat -10px -10px;
}
nav ul ul:after {
  content: '';
  position: absolute;
  border: 10px solid transparent;
  top: -8px;
  left: 10%;
  background: url(../images/dd-arrow.png) no-repeat -10px 0;
  z-index: -1;
}
nav ul ul li { min-width: 130px; }
nav ul ul ul {
  left: 100%;
  top: 0;
}
nav ul ul a {
  background: #1d1b1b;
  color: #ffffff;
  line-height: 1em;
  padding: 10px;
  width: 110px;
  height: auto;
}
nav ul ul a:after { content: ""; }
nav ul ul a:visited { color: #ffffff; }
nav ul ul a:hover {
  background-color: #ffffff;
  color: #1d1b1b;
}
nav li:hover > a { color: #00bcd1; }
nav ul ul:hover > a { color: #00bcd1; }
nav ul li:hover > ul { display: block; }
nav ul li.current_page_item > a {
  color: #ffffff;
  background: #00bcd1;
}
nav ul li.current-menu-ancestor > a {
  color: #ffffff;
  background: #00bcd1;
}
nav ul li.current-menu-item > a {
  color: #ffffff;
  background: #00bcd1;
}
nav ul li.current-menu-parent > a {
  color: #ffffff;
  background: #00bcd1;
}
#top-menu {
  display: block;
  float: right;
  margin: 0 auto;
  width: 570px;
  position: relative;
  z-index: 2;
}
#top-menu .menu-header {
  font-size: 16px;
  margin-left: 12px;
  width: 568px;
  margin-top: 9px;
}
#top-menu .menu-header ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
  float: right;
}
#top-menu .menu-header li {
  float: left;
  position: relative;
}
#top-menu div.menu {
  font-size: 16px;
  margin-left: 12px;
  width: 568px;
  margin-top: 9px;
}
#top-menu div.menu ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
  float: right;
}
#top-menu div.menu li {
  float: left;
  position: relative;
}
#top-menu a {
  color: #1d1b1b;
  display: block;
  line-height: 22px;
  padding: 0 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed', 'OpenSansCondensedLight', sans-serif;
}
#top-menu a:visited { color: #1d1b1b; }
#top-menu a:after { content: "."; }
#top-menu ul ul {
  display: none;
  position: absolute;
  left: 0;
  padding-top: 10px;
  float: left;
  width: 130px;
  z-index: 99999;
  background: url(../images/dd-arrow.png) no-repeat -10px -10px;
}
#top-menu ul ul:after {
  content: '';
  position: absolute;
  border: 10px solid transparent;
  top: -8px;
  left: 10%;
  background: url(../images/dd-arrow.png) no-repeat -10px 0;
  z-index: -1;
}
#top-menu ul ul li { min-width: 130px; }
#top-menu ul ul ul {
  left: 100%;
  top: 0;
}
#top-menu ul ul a {
  background: #1d1b1b;
  color: #ffffff;
  line-height: 1em;
  padding: 10px;
  width: 110px;
  height: auto;
}
#top-menu ul ul a:after { content: ""; }
#top-menu ul ul a:visited { color: #ffffff; }
#top-menu ul ul a:hover {
  background-color: #ffffff;
  color: #1d1b1b;
}
#top-menu li:hover > a { color: #00bcd1; }
#top-menu ul ul:hover > a { color: #00bcd1; }
#top-menu ul li:hover > ul { display: block; }
#top-menu ul li.current_page_item > a {
  color: #ffffff;
  background: #00bcd1;
}
#top-menu ul li.current-menu-ancestor > a {
  color: #ffffff;
  background: #00bcd1;
}
#top-menu ul li.current-menu-item > a {
  color: #ffffff;
  background: #00bcd1;
}
#top-menu ul li.current-menu-parent > a {
  color: #ffffff;
  background: #00bcd1;
}
* html nav ul li.current_page_item a { color: #ffffff; }
* html nav ul li.current-menu-ancestor a { color: #ffffff; }
* html nav ul li.current-menu-item a { color: #ffffff; }
* html nav ul li.current-menu-parent a { color: #ffffff; }
* html nav ul li a:hover { color: #ffffff; }
body.home nav ul li a { color: #ffffff; }
body.home nav ul li a:hover { color: #00bcd1; }
body.home nav ul ul li a {
  color: #ffffff;
  background-color: #1d1b1b;
}
body.home nav ul ul li a:hover {
  color: #1d1b1b;
  background-color: #ffffff;
}
body.home nav ul li.current-menu-item > a { color: #ffffff; }
#top-menu {
  width: 100%;
  height: 30px;
  margin-bottom: 30px;
  background-color: #1d1b1b;
}
#top-menu .menu-header {
  width: 960px;
  font-size: 14px;
  margin: 0 auto;
}
#top-menu ul#menu-top-nagivation { float: right; }
#top-menu ul#menu-top-nagivation li a {
  line-height: 30px;
  color: #00bcd1;
}
#top-menu ul#menu-top-nagivation li a:hover { color: #ffffff; }
#top-menu ul li.current_page_item > a {
  color: #ffffff;
  background: none;
}
#top-menu ul li.current-menu-ancestor > a {
  color: #ffffff;
  background: none;
}
#top-menu ul li.current-menu-item > a {
  color: #ffffff;
  background: none;
}
#top-menu ul li.current-menu-parent > a {
  color: #ffffff;
  background: none;
}
.tooltipsy {
  padding: 2px 10px;
  color: #1d1b1b;
  background-color: #00bcd1;
  position: relative;
  top: 65px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.tooltipsy:after {
  content: '';
  position: absolute;
  border: 10px solid transparent;
  border-left-color: #00bcd1;
  top: -10px;
  right: 35%;
  z-index: -1;
}
body.logged-in .tooltipsy { top: 93px; }
footer, .footer-push { height: 235px; }
footer {
  clear: both;
  width: 100%;
  position: relative;
  background: #171717;
  background: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#171717));
  background: -webkit-linear-gradient(#333333, #171717);
  background: -moz-linear-gradient(center top, #333333 0%, #171717 100%);
  background: -moz-gradient(center top, #333333 0%, #171717 100%);
  background: -moz-gradient(center top, #333333 0%, #171717 100%);
  background: -o-linear-gradient(#333333 0%, #171717 100%);
  background: gradient(center top, #333333 0%, #171717 100%);
}
footer #footer {
  width: 940px;
  height: 143px;
  padding-top: 47px;
  margin: 0 auto;
  color: #ffffff;
}
footer #footer input[type="submit"] { height: 25px; }
footer #footer h3 {
  font-size: 18px;
  color: #ffffff;
}
footer #footer .connect-with-us { text-align: right; }
footer #footer .connect-with-us img { opacity: 0.9; }
footer #footer .connect-with-us img:hover { opacity: 1; }
footer #site-info {
  width: 100%;
  height: 45px;
  font-size: 14px;
  text-align: center;
  background-color: #1d1b1b;
  color: #ffffff;
  font-family: 'Open Sans Condensed', 'OpenSansCondensedLight', sans-serif;
}
footer #site-info a {
  line-height: 45px;
  text-decoration: none;
  text-transform: uppercase;
}
#page-gradient {
  width: 100%;
  height: 50px;
  margin-top: 15px;
  background: rgba(0, 0, 0, 0.5);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(0, 0, 0, 0.5)));
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5));
  background: -moz-linear-gradient(center top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  background: -moz-gradient(center top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  background: -moz-gradient(center top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  background: -o-linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  background: gradient(center top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}
.cssgradients #page-gradient {
  background: rgba(0, 0, 0, 0.5);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(0, 0, 0, 0.5)));
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5));
  background: -moz-linear-gradient(center top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  background: -moz-gradient(center top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  background: -moz-gradient(center top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  background: -o-linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  background: gradient(center top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}
.no-cssgradients #page-gradient { background-color: transparent; }
a.button {
  background-color: #00bcd1;
  border: none;
  color: #ffffff;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  padding: 4px 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  opacity: 0.9;
  font-family: 'Open Sans', 'OpenSansRegular', sans-serif;
}
a.button:hover { opacity: 1; }
input[type="submit"] {
  background-color: #00bcd1;
  border: none;
  color: #ffffff;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  padding: 4px 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  opacity: 0.9;
  font-family: 'Open Sans', 'OpenSansRegular', sans-serif;
}
input[type="submit"]:hover { opacity: 1; }
.paypal {
  display: block;
  width: 43px;
  float: left;
  margin: 0 10px 10px 0;
  padding: 0 10px !important;
  text-align: center;
}
input[type="submit"] {
  line-height: 0;
  font-family: 'Open Sans', 'OpenSansRegular', sans-serif;
}
input {
  display: block;
  float: left;
}
input[type=email] {
  width: 197px;
  height: 15px;
  padding: 5px;
  border: none;
}
.feature-box {
  width: 300px;
  height: 90px;
  margin-bottom: 37px;
}
.feature-box:hover .content { background-color: #1d1b1b; }
.feature-box:hover .content h2 { color: #00bcd1; }
.feature-box:hover .content span { color: #ffffff; }
.feature-box a { text-decoration: none; }
.feature-box .content {
  width: 170px;
  height: 50px;
  float: left;
  padding: 20px;
  background-color: #00bcd1;
  text-transform: uppercase;
  background: url(../images/corner2.png) no-repeat bottom right #00bcd1;
}
.feature-box .content h2 {
  margin-bottom: 1px;
  font-size: 30px;
  line-height: 30px;
  color: #ffffff;
  font-family: 'Open Sans Condensed', 'OpenSansCondensedLight', sans-serif;
}
.feature-box .content span {
  font-size: 14px;
  color: #1d1b1b;
}
.feature-box img {
  display: block;
  float: left;
}
.no-mb { margin-bottom: 0; }
#em-wrapper {
  position: relative;
  height: 100%;
}
#em-wrapper article.event {
  height: 130px;
  margin-bottom: 50px;
}
#em-wrapper article.event .date {
  float: left;
  width: 140px;
  height: 130px;
  margin-right: 20px;
  line-height: 0;
  text-align: center;
}
#em-wrapper article.event .date .day {
  font-size: 124px;
  font-weight: 600;
  height: 92px;
  line-height: 103px;
}
#em-wrapper article.event .date .month {
  font-size: 24px;
  color: #1d1b1b;
  text-transform: uppercase;
  height: 28px;
  line-height: 56px;
}
#em-wrapper article.event .details {
  float: left;
  width: 780px;
}
#em-wrapper article.event .details h1 { margin-bottom: 0; }
#em-wrapper article.event .details h1 a { text-decoration: none; }
#em-wrapper article.event .details h2 {
  font-size: 14px;
  color: #1d1b1b;
  text-transform: uppercase;
}
#em-wrapper article.event .details img { display: none; }
#em-wrapper .single-events h1 {
  font-size: 24px;
  text-transform: none;
  font-family: 'Open Sans', 'OpenSansRegular', sans-serif;
}
#em-wrapper .single-events h2 {
  color: #1d1b1b;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin-bottom: 0;
}
#em-wrapper .single-events strong { color: #1d1b1b; }
#em-wrapper .single-events .single-event-details strong { color: #666666; }
#em-wrapper .single-events p.event-actions { margin-top: 10px; }
#em-wrapper .single-events p.event-actions a.button { margin-right: 5px; }
#em-wrapper .single-events p.event-actions .black { background-color: #333333; }
#em-wrapper .single-events p.event-actions .print img {
  position: relative;
  top: 4px;
}
#em-wrapper .single-events table.em-tickets th {
  color: #1d1b1b;
  font-weight: bold;
}
#em-wrapper .single-events table.em-tickets td.em-bookings-ticket-table-price {
  color: #cb3333;
  font-size: 24px;
  font-weight: bold;
}
#em-wrapper .single-events .em-booking-form-details { padding: 0; }
#em-wrapper .single-events .em-booking-form-details p { margin-bottom: 40px; }
#em-wrapper .single-events .em-booking-form-details p label {
  width: 280px;
  color: #666666;
  font-size: 14px;
  font-weight: normal;
}
#em-wrapper .single-events .em-booking-form-details p input[type=text] { width: 268px; }
#em-wrapper .single-events .em-booking-form-details p span {
  clear: both;
  margin: 0;
}
#em-wrapper .single-events .em-booking-form-details p.input-group { margin-bottom: 10px; }
#em-wrapper .single-events .note-box {
  text-align: left;
  padding: 0;
}
.encourage-box {
  font-family: 'Open Sans Condensed', 'OpenSansCondensedLight', sans-serif;
  background-color: #ffffff;
  font-size: 16px;
  padding: 10px;
  text-transform: uppercase;
  float: right;
  position: relative;
  top: 30px;
}
.encourage-box a { text-decoration: none; }
#event-footer {
  width: 940px;
  height: 112px;
  margin: 0 auto;
  margin-bottom: -65px;
}
#event-footer .dont-see-dennis {
  width: 270px;
  float: left;
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'Open Sans Condensed', 'OpenSansCondensedLight', sans-serif;
  background: url(../images/box-corner.gif) no-repeat top right #00bcd1;
}
#event-footer .dont-see-dennis a {
  display: block;
  padding: 20px 40px;
  width: 190px;
  color: #ffffff;
  text-decoration: none;
}
#event-footer .encourage-box {
  font-family: 'Open Sans Condensed', 'OpenSansCondensedLight', sans-serif;
  background-color: #ffffff;
  font-size: 16px;
  padding: 10px;
  text-transform: uppercase;
  float: right;
  position: relative;
  top: 30px;
}
#event-footer .encourage-box a { text-decoration: none; }
.note-box {
  clear: both;
  font-family: 'Open Sans Condensed', 'OpenSansCondensedLight', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;
  padding-top: 20px;
  margin: 0;
}
.note-box img {
  position: relative;
  top: 5px;
}
#contact-form .phone-number {
  color: #00bcd1;
  font-size: 48px;
  line-height: 30px;
  display: block;
  width: 100%;
  text-align: center;
  font-weight: 600;
}
#contact-form .rc-name { font-size: 24px; }
#contact-form .address {
  font-size: 14px;
  width: 302px;
  margin: 0 auto;
}
#contact-form .address a { text-decoration: none; }
#contact-form form.wpcf7-form p {
  height: 30px;
  margin-bottom: 12px;
}
#contact-form form.wpcf7-form label {
  display: block;
  float: left;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  width: 160px;
}
#contact-form form.wpcf7-form input[type=text] {
  float: left;
  margin: 0;
}
#contact-form form.wpcf7-form textarea {
  float: left;
  margin: 0;
}
#contact-form form.wpcf7-form select {
  float: left;
  margin: 0;
}
#contact-form form.wpcf7-form input[type=text] { width: 208px; }
#contact-form form.wpcf7-form select { width: 220px; }
#contact-form form.wpcf7-form textarea {
  width: 286px;
  height: 83px;
}
#contact-form form.wpcf7-form input[type=submit] { margin: 15px 0 0 160px; }
#contact-form form.wpcf7-form br { display: none; }
#contact-form form.wpcf7-form .required { color: red; }
#invite-form p { margin: 0; }
#invite-form label {
  font-weight: normal;
  padding-bottom: 5px;
}
#invite-form textarea {
  width: 100%;
  margin: 5px 0 10px 0;
}
#invite-form input[type=text] {
  width: 100%;
  margin: 5px 0 10px 0;
}
#invite-form textarea { height: 115px; }
#invite-form select {
  width: 190px;
  margin: 5px 0 10px 0;
}
#invite-form input[type=submit] {
  float: right;
  margin-top: -40px;
}
#invite-form .contact-info { margin-top: 30px; }
#invite-form .contact-info input[type=text] { width: 110px; }
#invite-form .contact-info p {
  width: 121px;
  float: left;
  margin-right: 5px;
}
div.wpcf7-validation-errors, div.wpcf7-mail-sent-ng, div.wpcf7-mail-sent-ok {
  border: none !important;
  position: relative;
  top: 8px;
  left: 15px;
  color: red;
}
div.wpcf7 img.ajax-loader { margin-top: 20px; }
span.wpcf7-not-valid-tip {
  border: none !important;
  margin-left: 10px;
  background: none !important;
  color: red;
}
.revivalists {
  margin-bottom: 45px;
  height: 360px;
}
.revivalists h2 {
  text-transform: uppercase;
  font-family: 'Open Sans Condensed', 'OpenSansCondensedLight', sans-serif;
  margin-bottom: 10px;
}
.revivalists img {
  display: block;
  margin-bottom: 10px;
}
.revivalists p a {
  display: block;
  margin-top: 10px;
}
.revivalists:nth-child(4n) { margin-right: 0; }
article.single-revivalist .revivalist { height: auto; }
#other-revivalists {
  clear: both;
  padding-top: 50px;
}
.wp-paginate {
  padding: 0;
  margin: 0;
}
.wp-paginate li {
  display: inline;
  list-style: none;
}
.wp-paginate a {
  background: #dddddd;
  border: 1px solid #cccccc;
  color: #666666;
  margin-right: 4px;
  padding: 3px 6px;
  text-align: center;
  text-decoration: none;
}
.wp-paginate a:hover {
  background: #cccccc;
  color: #888888;
}
.wp-paginate a:active {
  background: #cccccc;
  color: #888888;
}
.wp-paginate .title {
  color: #555555;
  margin-right: 4px;
}
.wp-paginate .gap {
  color: #999999;
  margin-right: 4px;
}
.wp-paginate .current {
  color: #ffffff;
  background: #5f87ae;
  border: 1px solid #89adcf;
  margin-right: 4px;
  padding: 3px 6px;
}
input[type="text"] {
  margin: 0;
  padding: 5px;
  border: 1px solid #cbcbcb;
  color: #666666;
}
input[type="text"]:focus { border: 1px solid #00bcd1; }
input[type="password"] {
  margin: 0;
  padding: 5px;
  border: 1px solid #cbcbcb;
  color: #666666;
}
input[type="password"]:focus { border: 1px solid #00bcd1; }
input.text {
  margin: 0;
  padding: 5px;
  border: 1px solid #cbcbcb;
  color: #666666;
}
input.text:focus { border: 1px solid #00bcd1; }
input.title {
  margin: 0;
  padding: 5px;
  border: 1px solid #cbcbcb;
  color: #666666;
}
input.title:focus { border: 1px solid #00bcd1; }
textarea {
  margin: 0;
  padding: 5px;
  border: 1px solid #cbcbcb;
  color: #666666;
}
textarea:focus { border: 1px solid #00bcd1; }
select {
  margin: 0;
  padding: 5px;
  border: 1px solid #cbcbcb;
  color: #666666;
}
select:focus { border: 1px solid #00bcd1; }
input[type=checkbox] {
  margin-right: 5px;
  display: inline;
  float: none;
}
input[type=submit] { height: 30px; }
input[type=text] { height: 18px; }
select { height: 30px; }
form#searchform input[type=text] { margin: 0 0 20px 0; }
li.pagenav {
  list-style: none;
  font-size: 18px;
}
li.pagenav ul li { font-size: 12px; }
li.categories {
  list-style: none;
  font-size: 18px;
}
li.categories ul li { font-size: 12px; }
img.size-auto, img.size-full, img.size-large, img.size-medium {
  max-width: 100%;
  height: auto;
}
.attachment img {
  max-width: 100%;
  height: auto;
}
.alignleft, img.alignleft {
  display: inline;
  float: left;
  margin-right: 20px;
  margin-top: 5px;
}
.alignright, img.alignright {
  display: inline;
  float: right;
  margin-left: 20px;
  margin-top: 5px;
}
.aligncenter, img.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img.alignleft, img.alignright, img.aligncenter { margin-bottom: 20px; }
img.last { margin-right: 0; }
.video-landing h1 { margin-bottom: 0; }
.video-landing h1 a { text-decoration: none; }
.video-landing h2 {
  font-family: 'Open Sans Condensed', 'OpenSansCondensedLight', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
}
.video-landing img { margin-bottom: 20px; }
.videos-container {
  width: 220px;
  height: 200px;
  float: left;
  margin: 0 20px 50px 0;
}
.videos-container:nth-child(4n) { margin-right: 0; }
.videos-container a.video-gallery {
  display: block;
  position: relative;
  float: left;
  width: 220px;
  height: 150px;
  margin-bottom: 15px;
}
.videos-container a.video-gallery span.video-icon {
  position: absolute;
  left: 85px;
  top: 50px;
}
.videos-container span a { font-weight: bold; }
.post { margin-bottom: 60px; }
.post .post-date {
  width: 70px;
  height: 70px;
  color: #00bcd1;
  font-size: 48px;
  font-family: 'Open Sans', 'OpenSansRegular', sans-serif;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  font-weight: 600;
  text-align: center;
  background-color: #ffffff;
  position: relative;
  top: 30px;
  left: 12px;
  margin-top: -60px;
}
.post h1.entry-title {
  font-size: 24px;
  font-family: 'Open Sans', 'OpenSansRegular', sans-serif;
  text-transform: none;
}
.post h2.entry-title {
  font-size: 24px;
  margin-bottom: 0;
}
.post h2.entry-title a {
  color: #666666;
  text-decoration: none;
}
.post h2 { font-size: 1.5em; }
.post .post-author { margin-bottom: 10px; }
.post .post-author a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Open Sans', 'OpenSansRegular', sans-serif;
  font-size: 14px;
}
.post .posted-on-date {
  font-family: 'Open Sans', 'OpenSansRegular', sans-serif;
  margin-bottom: 10px;
}
.post p.comment-count {
  font-family: 'Open Sans', 'OpenSansRegular', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  margin: -5px 0 10px 0;
}
.post p.comment-count a { text-decoration: none; }
.post .entry-utility {
  font-family: 'Open Sans', 'OpenSansRegular', sans-serif;
  font-weight: 600;
  color: #cbcbcb;
}
.post .entry-utility a { color: #cbcbcb; }
.videos { margin-bottom: 60px; }
.videos .post-date {
  width: 70px;
  height: 70px;
  color: #00bcd1;
  font-size: 48px;
  font-family: 'Open Sans', 'OpenSansRegular', sans-serif;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  font-weight: 600;
  text-align: center;
  background-color: #ffffff;
  position: relative;
  top: 30px;
  left: 12px;
  margin-top: -60px;
}
.videos h1.entry-title {
  font-size: 24px;
  font-family: 'Open Sans', 'OpenSansRegular', sans-serif;
  text-transform: none;
}
.videos h2.entry-title {
  font-size: 24px;
  margin-bottom: 0;
}
.videos h2.entry-title a {
  color: #666666;
  text-decoration: none;
}
.videos h2 { font-size: 1.5em; }
.videos .post-author { margin-bottom: 10px; }
.videos .post-author a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Open Sans', 'OpenSansRegular', sans-serif;
  font-size: 14px;
}
.videos .posted-on-date {
  font-family: 'Open Sans', 'OpenSansRegular', sans-serif;
  margin-bottom: 10px;
}
.videos p.comment-count {
  font-family: 'Open Sans', 'OpenSansRegular', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  margin: -5px 0 10px 0;
}
.videos p.comment-count a { text-decoration: none; }
.videos .entry-utility {
  font-family: 'Open Sans', 'OpenSansRegular', sans-serif;
  font-weight: 600;
  color: #cbcbcb;
}
.videos .entry-utility a { color: #cbcbcb; }
.page { margin-bottom: 60px; }
.page .post-date {
  width: 70px;
  height: 70px;
  color: #00bcd1;
  font-size: 48px;
  font-family: 'Open Sans', 'OpenSansRegular', sans-serif;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  font-weight: 600;
  text-align: center;
  background-color: #ffffff;
  position: relative;
  top: 30px;
  left: 12px;
  margin-top: -60px;
}
.page h1.entry-title {
  font-size: 24px;
  font-family: 'Open Sans', 'OpenSansRegular', sans-serif;
  text-transform: none;
}
.page h2.entry-title {
  font-size: 24px;
  margin-bottom: 0;
}
.page h2.entry-title a {
  color: #666666;
  text-decoration: none;
}
.page h2 { font-size: 1.5em; }
.page .post-author { margin-bottom: 10px; }
.page .post-author a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Open Sans', 'OpenSansRegular', sans-serif;
  font-size: 14px;
}
.page .posted-on-date {
  font-family: 'Open Sans', 'OpenSansRegular', sans-serif;
  margin-bottom: 10px;
}
.page p.comment-count {
  font-family: 'Open Sans', 'OpenSansRegular', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  margin: -5px 0 10px 0;
}
.page p.comment-count a { text-decoration: none; }
.page .entry-utility {
  font-family: 'Open Sans', 'OpenSansRegular', sans-serif;
  font-weight: 600;
  color: #cbcbcb;
}
.page .entry-utility a { color: #cbcbcb; }
.revivalist { margin-bottom: 60px; }
.revivalist .post-date {
  width: 70px;
  height: 70px;
  color: #00bcd1;
  font-size: 48px;
  font-family: 'Open Sans', 'OpenSansRegular', sans-serif;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  font-weight: 600;
  text-align: center;
  background-color: #ffffff;
  position: relative;
  top: 30px;
  left: 12px;
  margin-top: -60px;
}
.revivalist h1.entry-title {
  font-size: 24px;
  font-family: 'Open Sans', 'OpenSansRegular', sans-serif;
  text-transform: none;
}
.revivalist h2.entry-title {
  font-size: 24px;
  margin-bottom: 0;
}
.revivalist h2.entry-title a {
  color: #666666;
  text-decoration: none;
}
.revivalist h2 { font-size: 1.5em; }
.revivalist .post-author { margin-bottom: 10px; }
.revivalist .post-author a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Open Sans', 'OpenSansRegular', sans-serif;
  font-size: 14px;
}
.revivalist .posted-on-date {
  font-family: 'Open Sans', 'OpenSansRegular', sans-serif;
  margin-bottom: 10px;
}
.revivalist p.comment-count {
  font-family: 'Open Sans', 'OpenSansRegular', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  margin: -5px 0 10px 0;
}
.revivalist p.comment-count a { text-decoration: none; }
.revivalist .entry-utility {
  font-family: 'Open Sans', 'OpenSansRegular', sans-serif;
  font-weight: 600;
  color: #cbcbcb;
}
.revivalist .entry-utility a { color: #cbcbcb; }
#entry-author-info {
  clear: both;
  overflow: hidden;
  margin: 40px 0;
}
#entry-author-info #author-avatar {
  float: left;
  height: 60px;
  margin: 0 -104px 0 0;
  padding: 6px 0;
}
#entry-author-info #author-description {
  float: left;
  margin: 0 0 0 80px;
}
#entry-author-info #author-description h2 { font-size: 16px; }
#entry-author-info #author-link { margin-top: 10px; }
h1.page-title { margin-bottom: 50px; }
.single-blog-post .post { margin-bottom: 0; }
.search .post-author { display: none; }
.search p.comment-count { display: none; }
#sidebar .widget-area ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#sidebar .widget-area ul li.widget-container { margin-bottom: 25px; }
#sidebar .widget-area ul h3.widget-title {
  font-family: 'Open Sans Condensed', 'OpenSansCondensedLight', sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 25px;
}
#sidebar .widget-area ul .widget-area select { max-width: 100%; }
#sidebar .widget-area ul .widget_search #s { width: 135px; }
#sidebar .widget-area ul .widget_search label { display: none; }
#sidebar .widget-area ul li#popular-posts { clear: both; }
.tac { text-align: center; }
.tar { text-align: right; }
.fl { float: left; }
.fr { float: right; }
p.nocomments { display: none; }
