article, aside, figure, footer, header, hgroup, menu, nav, section { display: block; }
.screen-reader-text {
  position: absolute;
  left: -9000px;
}
html, body { height: 100%; }
html { overflow-y: scroll; }
.open-sans { font-family: 'Open Sans', sans-serif; }
.open-sans-condensed { font-family: 'Open Sans Condensed', sans-serif; }
body {
  font-family: 'Open Sans', sans-serif;
  background: url(../images/bg.gif);
}
.container { padding: 0 20px; }
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -235px;
}
a { color: #33cbcb; }
a:visited { color: #32c7c7; }
a:hover { color: #28a1a1; }
header {
  margin-bottom: 65px;
  width: 100%;
  background-color: #1d1b1b;
  height: 460px;
}
header #header {
  width: 820px;
  padding: 0 60px;
  height: 80px;
  margin: 0 auto;
}
header hgroup {
  width: 223px;
  height: 32px;
  float: left;
  position: relative;
  z-index: 999;
}
header #banner {
  width: 100%;
  overflow: hidden;
  height: 429px;
  margin-top: -49px;
}
header #banner .wt-rotator {
  position: relative;
  left: 50%;
  margin-left: -640px;
  z-index: 1;
}
nav {
  display: block;
  float: right;
  margin: 0 auto;
  width: 570px;
  position: relative;
  z-index: 2;
}
nav .menu-header {
  font-size: 16px;
  margin-left: 12px;
  width: 568px;
  margin-top: 9px;
}
nav .menu-header ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
  float: right;
}
nav .menu-header li {
  float: left;
  position: relative;
}
nav div.menu {
  font-size: 16px;
  margin-left: 12px;
  width: 568px;
  margin-top: 9px;
}
nav div.menu ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
  float: right;
}
nav div.menu li {
  float: left;
  position: relative;
}
nav a {
  color: #edebeb;
  display: block;
  line-height: 22px;
  padding: 0 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed', sans-serif;
}
nav a:visited { color: #edebeb; }
nav a:after { content: "."; }
nav ul ul {
  display: none;
  position: absolute;
  left: 0;
  float: left;
  width: 130px;
  z-index: 99999;
}
nav ul ul li { min-width: 130px; }
nav ul ul ul {
  left: 100%;
  top: 0;
}
nav ul ul a {
  background: #1d1b1b;
  line-height: 1em;
  padding: 10px;
  width: 110px;
  height: auto;
}
nav li:hover > a { color: #33cbcb; }
nav ul ul:hover > a { color: #33cbcb; }
nav ul li:hover > ul { display: block; }
nav ul li.current_page_item > a {
  color: #edebeb;
  background: #33cbcb;
}
nav ul li.current-menu-ancestor > a {
  color: #edebeb;
  background: #33cbcb;
}
nav ul li.current-menu-item > a {
  color: #edebeb;
  background: #33cbcb;
}
nav ul li.current-menu-parent > a {
  color: #edebeb;
  background: #33cbcb;
}
#top-menu {
  display: block;
  float: right;
  margin: 0 auto;
  width: 570px;
  position: relative;
  z-index: 2;
}
#top-menu .menu-header {
  font-size: 16px;
  margin-left: 12px;
  width: 568px;
  margin-top: 9px;
}
#top-menu .menu-header ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
  float: right;
}
#top-menu .menu-header li {
  float: left;
  position: relative;
}
#top-menu div.menu {
  font-size: 16px;
  margin-left: 12px;
  width: 568px;
  margin-top: 9px;
}
#top-menu div.menu ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
  float: right;
}
#top-menu div.menu li {
  float: left;
  position: relative;
}
#top-menu a {
  color: #edebeb;
  display: block;
  line-height: 22px;
  padding: 0 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed', sans-serif;
}
#top-menu a:visited { color: #edebeb; }
#top-menu a:after { content: "."; }
#top-menu ul ul {
  display: none;
  position: absolute;
  left: 0;
  float: left;
  width: 130px;
  z-index: 99999;
}
#top-menu ul ul li { min-width: 130px; }
#top-menu ul ul ul {
  left: 100%;
  top: 0;
}
#top-menu ul ul a {
  background: #1d1b1b;
  line-height: 1em;
  padding: 10px;
  width: 110px;
  height: auto;
}
#top-menu li:hover > a { color: #33cbcb; }
#top-menu ul ul:hover > a { color: #33cbcb; }
#top-menu ul li:hover > ul { display: block; }
#top-menu ul li.current_page_item > a {
  color: #edebeb;
  background: #33cbcb;
}
#top-menu ul li.current-menu-ancestor > a {
  color: #edebeb;
  background: #33cbcb;
}
#top-menu ul li.current-menu-item > a {
  color: #edebeb;
  background: #33cbcb;
}
#top-menu ul li.current-menu-parent > a {
  color: #edebeb;
  background: #33cbcb;
}
* html nav ul li.current_page_item a { color: #000000; }
* html nav ul li.current-menu-ancestor a { color: #000000; }
* html nav ul li.current-menu-item a { color: #000000; }
* html nav ul li.current-menu-parent a { color: #000000; }
* html nav ul li a:hover { color: #000000; }
#top-menu {
  width: 800px;
  height: 30px;
  margin-bottom: 30px;
}
#top-menu .menu-header {
  width: 809px;
  font-size: 14px;
  margin: 0;
}
#top-menu ul#menu-top-nagivation { float: right; }
#top-menu ul#menu-top-nagivation li a {
  line-height: 30px;
  color: #33cbcb;
}
#top-menu ul#menu-top-nagivation li a:hover { color: #edebeb; }
#top-menu ul li.current_page_item > a {
  color: #edebeb;
  background: none;
}
#top-menu ul li.current-menu-ancestor > a {
  color: #edebeb;
  background: none;
}
#top-menu ul li.current-menu-item > a {
  color: #edebeb;
  background: none;
}
#top-menu ul li.current-menu-parent > a {
  color: #edebeb;
  background: none;
}
.tooltipsy {
  padding: 2px 10px;
  color: #1d1b1b;
  background-color: #33cbcb;
  position: relative;
  top: 65px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.tooltipsy:after {
  content: '';
  position: absolute;
  border: 10px solid transparent;
  border-left-color: #33cbcb;
  top: -10px;
  right: 35%;
  z-index: -1;
}
body.logged-in .tooltipsy { top: 93px; }
footer, .footer-push { height: 235px; }
footer {
  clear: both;
  width: 100%;
  background: #171717;
  background: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#171717));
  background: -webkit-linear-gradient(#333333, #171717);
  background: -moz-linear-gradient(center top, #333333 0%, #171717 100%);
  background: -moz-gradient(center top, #333333 0%, #171717 100%);
  background: -moz-gradient(center top, #333333 0%, #171717 100%);
  background: gradient(center top, #333333 0%, #171717 100%);
}
footer #footer {
  width: 940px;
  height: 143px;
  padding-top: 47px;
  margin: 0 auto;
  color: #edebeb;
}
footer #footer h3 {
  font-size: 18px;
  color: #edebeb;
}
footer #footer .connect-with-us { text-align: right; }
footer #footer .connect-with-us img { opacity: 0.9; }
footer #footer .connect-with-us img:hover { opacity: 1; }
footer #site-info {
  width: 100%;
  height: 45px;
  font-size: 14px;
  text-align: center;
  background-color: #1d1b1b;
  color: #edebeb;
  font-family: 'Open Sans Condensed', sans-serif;
}
footer #site-info a {
  line-height: 45px;
  text-decoration: none;
  text-transform: uppercase;
}
#page-gradient {
  width: 100%;
  height: 50px;
  margin-top: 15px;
  background: rgba(0, 0, 0, 0.5);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(0, 0, 0, 0.5)));
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5));
  background: -moz-linear-gradient(center top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  background: -moz-gradient(center top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  background: -moz-gradient(center top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  background: gradient(center top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}
a.button {
  background-color: #33cbcb;
  border: none;
  color: #edebeb;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  padding: 4px 10px;
  text-transform: uppercase;
  text-decoration: none;
  opacity: 0.9;
}
a.button:hover { opacity: 1; }
input[type="submit"] {
  background-color: #33cbcb;
  border: none;
  color: #edebeb;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  padding: 4px 10px;
  text-transform: uppercase;
  text-decoration: none;
  opacity: 0.9;
}
input[type="submit"]:hover { opacity: 1; }
input[type="submit"] { line-height: 0; }
input {
  display: block;
  float: left;
}
input[type=email] {
  width: 196px;
  height: 15px;
  padding: 5px;
  border: none;
  font-family: 'Open Sans', sans-serif;
}
.feature-box {
  width: 300px;
  height: 90px;
  margin-bottom: 37px;
  background: url(../images/blue-box-edge.png) no-repeat top right;
}
.feature-box:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.feature-box a { text-decoration: none; }
.feature-box .content {
  width: 170px;
  height: 50px;
  float: left;
  padding: 20px 10px 20px 20px;
  background-color: #33cbcb;
  text-transform: uppercase;
}
.feature-box .content h2 {
  margin-bottom: 1px;
  font-size: 30px;
  line-height: 30px;
  color: #edebeb;
  font-family: 'Open Sans Condensed', sans-serif;
}
.feature-box .content span {
  font-size: 14px;
  color: #1d1b1b;
}
.feature-box img {
  display: block;
  float: left;
}
.no-mb { margin-bottom: 0; }
.wp-paginate {
  padding: 0;
  margin: 0;
}
.wp-paginate li {
  display: inline;
  list-style: none;
}
.wp-paginate a {
  background: #dddddd;
  border: 1px solid #cccccc;
  color: #666666;
  margin-right: 4px;
  padding: 3px 6px;
  text-align: center;
  text-decoration: none;
}
.wp-paginate a:hover {
  background: #cccccc;
  color: #888888;
}
.wp-paginate a:active {
  background: #cccccc;
  color: #888888;
}
.wp-paginate .title {
  color: #555555;
  margin-right: 4px;
}
.wp-paginate .gap {
  color: #999999;
  margin-right: 4px;
}
.wp-paginate .current {
  color: #ffffff;
  background: #5f87ae;
  border: 1px solid #89adcf;
  margin-right: 4px;
  padding: 3px 6px;
}
#comments { clear: both; }
#comments .navigation { padding: 0 0 18px 0; }
h3#comments-title, h3#reply-title {
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0;
}
h3#comments-title { padding: 24px 0; }
.commentlist {
  list-style: none;
  margin: 0;
}
.commentlist li.comment {
  border-bottom: 1px solid #e7e7e7;
  line-height: 24px;
  margin: 0 0 24px 0;
  padding: 0 0 0 56px;
  position: relative;
}
.commentlist li:last-child {
  border-bottom: none;
  margin-bottom: 0;
}
#comments .comment-body ul { margin-bottom: 18px; }
#comments .comment-body ol { margin-bottom: 18px; }
#comments .comment-body p:last-child { margin-bottom: 6px; }
#comments .comment-body blockquote p:last-child { margin-bottom: 24px; }
.commentlist ol { list-style: decimal; }
.commentlist .avatar {
  position: absolute;
  top: 4px;
  left: 0;
}
.comment-author cite {
  color: #000000;
  font-style: normal;
  font-weight: bold;
}
.comment-author .says { font-style: italic; }
.comment-meta {
  font-size: 12px;
  margin: 0 0 18px 0;
}
.comment-meta a:link {
  color: #888888;
  text-decoration: none;
}
.comment-meta a:visited {
  color: #888888;
  text-decoration: none;
}
.comment-meta a:active { color: #ff4b33; }
.comment-meta a:hover { color: #ff4b33; }
.reply {
  font-size: 12px;
  padding: 0 0 24px 0;
}
.reply a { color: #888888; }
a.comment-edit-link { color: #888888; }
.reply a:hover { color: #ff4b33; }
a.comment-edit-link:hover { color: #ff4b33; }
.commentlist .children {
  list-style: none;
  margin: 0;
}
.commentlist .children li {
  border: none;
  margin: 0;
}
.nopassword, .nocomments { display: none; }
#comments .pingback {
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 18px;
  padding-bottom: 18px;
}
.commentlist li.comment + li.pingback { margin-top: -6px; }
#comments .pingback p {
  color: #888888;
  display: block;
  font-size: 12px;
  line-height: 18px;
  margin: 0;
}
#comments .pingback .url {
  font-size: 13px;
  font-style: italic;
}
#respond {
  border-top: 1px solid #e7e7e7;
  margin: 24px 0;
  overflow: hidden;
  position: relative;
}
#respond p { margin: 0; }
#respond .comment-notes { margin-bottom: 1em; }
.form-allowed-tags { line-height: 1em; }
.children #respond { margin: 0 48px 0 0; }
h3#reply-title { margin: 18px 0; }
#comments-list #respond { margin: 0 0 18px 0; }
#comments-list ul #respond { margin: 0; }
#cancel-comment-reply-link {
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
}
#respond .required {
  color: #ff4b33;
  font-weight: bold;
}
#respond label {
  color: #888888;
  font-size: 12px;
}
#respond input {
  margin: 0 0 9px;
  width: 98%;
}
#respond textarea { width: 98%; }
#respond .form-allowed-tags {
  color: #888888;
  font-size: 12px;
  line-height: 18px;
}
#respond .form-allowed-tags code { font-size: 11px; }
#respond .form-submit { margin: 12px 0; }
#respond .form-submit input {
  font-size: 14px;
  width: auto;
}
